.container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 915px;
    border: 5px solid gold;
    box-sizing: border-box;
    margin: auto;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 81.5vh;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.first-col {
    grid-column: 1 / 4;
}

.second-col {
    grid-column: 5 / -1;
    margin-left: 5%;
}

img {
    width: 300px;
    height: 300px;
}

.second-col p {
    width: 70%;
}
