<!DOCTYPE html>
<html lang="en">
{% block head%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/base.css">
    <title>Madlibs Home</title>
{% endblock %}
<body>
    <header>
        <nav>
            <h1>Madlibs!</h1>
            <ul>
                <li><a href="{{url_for('home')}}">Home</a></li>
                <li><a href="{{url_for('story')}}">Story</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
    <footer>
        <h2>&copy; My Madlibs, Inc.</h2>
        <p>A Springboard student production, 2021.</p>
    </footer>
</body>
</html>