{% extends 'base.html' %}
{% block head %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
{% endblock %}

{% block content %}
<main>
    <h2>Choose Your Story Type</h2>
    <div class="container">
        <form action="#" method="POST" id="selection">
            <select name="choices" id="choices" required>
                <option value="bball">Basketball</option>
                <option value="school">School</option>
                <option value="circus">Circus</option>
            </select>
            <button>Submit</button>
        </form>
    </div>
</main>
{% endblock %}

