{% extends 'base.html' %}
{% block head %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
{% endblock %}

{% block content %}
<main>
    <form action="/story" method="POST">
        <h2>Create a Madlib!</h2>
        {% for prompt in story.prompts %}
            <label for="{{prompt}}">{{prompt.title()}}</label>
            <input name="{{prompt}}" id="{{prompt}}" type="text" placeholder="Enter a(n) {{prompt}}" required>
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
</main>



{% endblock %}