{% extends 'base.html' %}
{% block head %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/story.css')}}">
{% endblock %}
{% block content %}
    <div class="center">
        <div class="container">
            <div class="grid">
                {% if story_ and answers %}
                <div class="first-col">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/81s2vppg-VL.jpg" alt="MadLibs">
                </div>
                <div class="second-col">
                    <h1>Your Story</h1>
                    <p>{{story_.generate(answers)}}</p>
                </div>
                {% else %}
                <div class="first-col">
                    <img src="https://drudesk.com/sites/default/files/2018-02/404-error-page-not-found.jpg" alt="not found">
                </div>
                <div class="second-col">
                    <h1>Sorry, no story found!</h1>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}